.main-container
  background-color: #EBEBEB
  font-family: sans-serif

.content-container
  margin: 0 auto

.banner1
  background: url('../img/bg1.jpg') no-repeat
  height: 362px
  width: 555px
  padding: 0 20px
  vertical-align: top
  border-radius: 3px
  border: 1px solid darken(#EBEBEB, 6%)
  h1
    font-size: 50px
    line-height: 1em
    letter-spacing: -4px
    display: block
    width: 300px
    b
      color: #48AFB5
blue = #48AFB5
.pink
  color: #DB5656

green = #48AFB5

.larger
  font-size: 80px
  letter-spacing: -7px
  line-height: 0.95em

.button
  font-weight: bold
  text-decoration: none
  color: #fff
  background-color: #EFB80E
  padding: 10px 15px
  border-radius: 5px
  font-size: 22px

.center
  text-align: center

.logo
  padding: 10px 0

.b0
  border-collapse: collapse
  border-spacing: 0
  margin: 0
  padding: 0

.section2
  background-color: #fff
  margin-top: 20px

.banner2
  border-left: 1px solid #EBEBEB

.section2-1
  color: green 
  padding: 15px
  table
    font-size: 14px
    line-height: 1.2em
    width: 90%

.green  
  color: green 

.top
  vertical-align: top
.check
  margin: 0
  padding: 0
  li
    list-style-type: none
    padding-left: 25px
    background: url('../img/check.png') no-repeat left 2px
    line-height: 1.1em
    padding-bottom: 10px
    font-size: 13px
h4
  margin: 10px 0

.grey-bg
  background-color: #F5F5F5

.p2
  padding: 15px

.button2
  @extends .button
  display: block
  width: 100%
  padding: 10px 0
  text-align: center

.arrow
  img
    margin-top: -15px

.section3
  margin-top: 20px

.section4
  background-color: #333333
  padding: 0 10px
  line-height: 20px
  color: lighten(#61615D, 10%)
  font-size: 14px
  margin-top: 20px

.blue
  color: blue

.section5
  background: #fff
  margin-top: 10px
  border-radius: 3px
  border: 1px solid darken(#EBEBEB, 10%)

.section5-1
  background: white url('../img/bg3.png') no-repeat center 30px
  height: 222px
  color: white
  table
    height: 222px
  

.s512
.s513
.s511
  height: 180px
  width: 24%
  text-align: center
  line-height: 1em
  font-size: 14px
  span
    font-size: 14px
    font-weight: normal
    display: block

.s512
  width: 52%
.s513
  width: 24%

.button-black
  @extends .button
  background-color: #32312F
  padding: 10px 0
  display: block
  width: 60%
  text-align: center
  margin: 0 auto 20px auto

.seemore
  margin-top: 20px

.footer
  font-size: 12px
  text-align: center
  padding: 20px 0
  p
    line-height: 1.5em
    color: lighten(black, 60%)
    margin: 0
