doctype html
html
  head
    link(rel='stylesheet', href='app.css')
    script(src="js/vendor.js")
  body
    table.main-container(width="100%")
      tr
        td
          table.content-container(width="555")
            tr
              td.logo
                a(href="#")
                  img(src="img/logo-wippy.png")
            tr
              td.banner1
                h1 <span class="pink">FREE</span><b>*</b> 2GB iPod Shuffle YOURS <span class="larger">TODAY<span class="pink">!</span></span>
                table(width="100%")
                  tr
                    td.center
                      a.button(href="#") PARTICIPATE IN THE PROMOTION NOW!
            tr
              td
                table.section2.b0
                  tr
                    td.top
                      table.b0
                        tr.p2
                          td.section2-1
                            h4 THIS MONTH ONLY
                            table
                              tr
                                td.top
                                  .pink *
                                td.top 
                                  span New members get a FREE 2GB iPod Shuffle
                        tr.grey-bg.b0
                          td.b0.hack
                            table(height="222")
                              tr
                                td.p2
                                  h4.green.small YOUR FREE iPOD SHUFFLE:
                                  ul.check
                                    li Made from sleek anodized aluminum- durability on the go.
                                    li Control your music with one click.
                                    li Your iPod tell you what you're listening to via VoiceOver
                                    li Store hundreds of songs!
                    td.banner2
                      img(src="img/bg2.jpg")
            tr
              td
                table(width="100%").section3
                  tr
                    td.arrow
                      img(src="img/arrow.png")
                    td  
                      a.button2(href="#") CLAIM your FREE iPod Shuffle NOW!
            tr
              td
                table.section4
                  tr
                    td
                      p <span class="blue">WHAT IS WIPPY?</span> It is an entertainment shopping website that provides shoppers an opportunity to purchase high end items for as low as 5% of its actual retail price! Shoppers simply buy the right to bid on items and win auctions at the lowest prices anywhere!
            tr
              td
                table(width="100%").section5
                  tr
                    td.section5-1
                      table
                        tr
                          td.s511
                            h2 CLAIM 
                              span your iPod
                          td.s512
                            h2 ACTIVATE 
                              span your account
                          td.s513
                            h2 ENJOY 
                              span music everywhere you go
                        tr
                          td(colspan="3").seemore
                            a.button-black(href="#") SEE MORE
            tr
              td
                table
                  tr
                    td.footer
                      p Disclaimer: You are receiving this email because you subscribed to our newsletter at this website. 
                      p No longer interested? Please Click Here to Unsubscribe or send a blank email to info@wippy.com. 


